<header>
 
    <div class="container">
          <a routerLink="/"></a>
        <nav>
            <ul>
                <li><a routerLink="/accueil">Accueil</a></li>
                <li><a routerLink="/exercices">Exercices</a></li>
                <li><a routerLink="/evenement">Evènements</a></li>
                <li><a routerLink="/profil"> Profil</a></li>
                <li><a routerLink="/contact"> Contact</a></li>
  
            </ul>
        </nav>
       </div>
      </header>
      <h1 style="text-align:center;"> Mon Profil</h1>