<!-- main -->
<div class="main-w3layouts wrapper">
  <h1>Inscrivez-vous</h1>
  <div class="main-agileinfo">
    <div class="agileits-top">
      <form [formGroup]="UserForm" (ngSubmit)="onFormSubmit(UserForm.value)">  
        <input class="form-control" name="Nom " placeholder="Nom"  formControlName="Nom" required=""><br>
        <input class="form-control" type="text" name="Prenom " formControlName="Prenom" placeholder="Prenom" required=""> <br>
        <input class="form-control" type="text" name="Age " formControlName="Age" placeholder="Age" required=""><br>
        <input class="form-control" type="text" name="Poids " formControlName="Poids" placeholder="Poids" required=""><br>
        <input class="form-control" type="text" name="Taille " formControlName="Taille" placeholder="Taille" required="">
        <input class="form-control" type="password" name="mot_de_passe" formControlName="Mdp" placeholder="Mot de passe" required="">
        <input class="form-control" type="password" name="Cmdp" placeholder="Confirmez Mot de passe" required="">
        <div>
          <input type="radio" id="Coach"
           name="Coach" value="Coach">
          <label for="Coach">Coach</label>
          <input type="radio" id="Client"
           name="Client" value="Client">
          <label for="Client">Client</label>
        </div>
        <input type="submit" value="Valider">
      </form>
    </div>
  </div>
  <ul class="colorlib-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
<!-- //main -->

<router-outlet></router-outlet>

