<!-- main -->
<div class="main-w3layouts wrapper">
  <h1>Inscrivez-vous</h1>
  <div class="main-agileinfo">
    <div class="agileits-top">
      <form name="form" (ngSubmit)="CreateUser()" #f="ngForm">
        <input class="text email" type="text" name="Nom" [(ngModel)]="model.id" class="form-control sty1" placeholder="Adresse mail" required="">
        <input class="text email" type="text" name="Nom" [(ngModel)]="model.prenom" class="form-control sty1" placeholder="Prenom" required="">
        <input class="text email" type="text" name="Nom" [(ngModel)]="model.nom" class="form-control sty1" placeholder="Nom" required="">
        <input class="text email" type="text" name="Nom" [(ngModel)]="model.age" class="form-control sty1" placeholder="Age" required="">
        <input class="text email" type="text" name="Nom" [(ngModel)]="model.poids" class="form-control sty1" placeholder="Poids" required="">
        <input class="text email" type="text" name="Nom" [(ngModel)]="model.taille" class="form-control sty1" placeholder="Taille" required="">
        <input class="text" type="password" name="Password" [(ngModel)]="model.mdp" class="form-control" placeholder="Mot de passe" required=""> 
        <div>
          <input type="radio" id="Coach" [(ngModel)]="model.isCoach" name="Coach" value="Coach">
          <label for="Coach">Coach</label>  
        </div>
        <input type="submit" value="Valider">
      </form>
    </div>
  </div>
  <ul class="colorlib-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
<!-- //main -->

<router-outlet></router-outlet>

