<!-- main -->
<div class="main-w3layouts wrapper">
  <h1>Inscrivez-vous</h1>
  <div class="main-agileinfo">
    <div class="agileits-top">
      <form action="#" method="post">
        <input class="text" type="text" name="Nom " placeholder="Nom" required=""><br>
        <input class="text" type="text" name="Prenom " placeholder="Prenom" required=""> <br>
       
        <input class="text" type="text" name="Age " placeholder="Age" required=""><br>
        <input class="text" type="text" name="Poids " placeholder="Poids" required=""><br>
        <input class="text" type="text" name="Taille " placeholder="Taille" required="">
        <input class="text email" type="email" name="email" placeholder="Email" required="">
        <input class="text" type="password" name="mot_de_passe" placeholder="Mot de passe" required="">
        <input class="text w3lpass" type="password" name="Cmdp" placeholder="Confirmez Mot de passe" required="">
        <div>
          <input type="radio" id="Coach"
           name="Coach" value="Coach">
          <label for="Coach">Coach</label>
          <input type="radio" id="Client"
           name="Client" value="Client">
          <label for="Client">Client</label>
        </div>
        <input type="submit" value="Valider">
      </form>
    </div>
  </div>
  <ul class="colorlib-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
<!-- //main -->

<router-outlet></router-outlet>

