<header>
 
    <div class="container">
          <a routerLink="/"></a>
        <nav>
            <ul>
                <li><a routerLink="/accueil">Accueil</a></li>
                <li><a routerLink="/exercices">Exercices</a></li>
                <!--<li><a routerLink="/evenement">Evènements</a></li>-->
                <li><a routerLink="/profil"> Profil</a></li>
                <!--<li><a routerLink="/contact"> Contact</a></li>-->
                <li><a (click)="deconnexion()"> Deconnexion</a></li>
  
            </ul>
        </nav>
       </div>
      </header>
      <body>
        <img src="assets/images/exercice.jpg" width="2000" height="890">
      
        <div class="contact-form">
        <h2>Créer un Exercice</h2>
        <form name="form" (ngSubmit)="createExercice()" #f="ngForm">
            <p>Nom</p>
            <input [(ngModel)]="model.titre" type="text" name="Titre"   placeholder="" required>
           <br>
            <p>
                Type:
            </p><br>
                <span class="custom-dropdown custom-dropdown--white">
                    <select [(ngModel)]="model.type" name="type" class="custom-dropdown__select custom-dropdown__select--white">
                        <option>Cardio</option>
                        <option>Danse</option>
                        <option>Aerobic</option>
                        <option>Musculation</option>
                    </select>
                </span> <br><br><br>
         
                <p> Lien de l'image</p><br>
             <input type="text" [(ngModel)]="model.image" name="urlImage" id="fileToUpload"><br>
            <textarea name="description" rows="10" cols="50" placeholder="Description" [(ngModel)]="model.description"></textarea><br><br><br>
            
            <input  type="submit" name="" value="Créer">
      
        </form>
      </div>
      <li *ngFor="let exercice of listExercices">
          {{exercice.title}}
      </li>
      
      </body>
      