<header>
   
    <div class="container">
          <a routerLink="/"></a>
        <nav>
            <ul>
                <li><a routerLink="/accueil">Accueil</a></li>
                <li><a routerLink="/exercices">Exercices</a></li>
                <li><a routerLink="/evenement">Evènements</a></li>
                <li><a routerLink="/profil"> Profil</a></li>
                <li><a routerLink="/contact"> Contact</a></li>
  
            </ul>
        </nav>
       </div>
      </header>



<div class="slideshow">

    <ul id="sContent">

    <li> <img src="./assets/images/2.jpg" alt="" width="1005" height="800" /></li>  
    <li> <img src="./assets/images/3.jpg" alt="" width="1005" height="800" /></li> 
    <li><img src="./assets/images/5.jpg" alt="" width="1005" height="800" /></li> 
    <li> <img src="./assets/images/6.jpg" alt="" width="1005" height="800" /></li> 

    </ul> 
</div>