<header>
 
    <div class="container">
          <a routerLink="/"></a>
        <nav>
            <ul>
                <li><a routerLink="/accueil">Accueil</a></li>
                <li><a routerLink="/exercices">Exercices</a></li>
                <li><a routerLink="/evenement">Evènements</a></li>
                <li><a routerLink="/profil"> Profil</a></li>
                <li><a routerLink="/contact"> Contact</a></li>
  
            </ul>
        </nav>
       </div>
      </header>

      <body>
        <img src="assets/images/ev.jpg" width="2000" height="890">
      
        <div class="contact-form">
        <h2>Créer votre èvenement</h2><br><br>
        <form>
            <p>Titre</p>
            <input type="text" name="Titre"   placeholder="" required>
            <p>Date</p>
            <input type="date" name="date"  placeholder="date" required=""><br><br>
            <textarea name="desc" rows="10" cols="50">Description</textarea><br><br><br>
            
            <input  type="submit" name="" value="Créer">
      
        </form>
      </div>
      
      </body>
      